// entirely new file
footer {
    color: $navbar-dark-active-color;
    a, .link-like {
        //color: $navbar-dark-color;
        color: rgba(255, 255, 255, 0.9);
        cursor: pointer;
    }
    a:hover, .link-like:hover {
        //color: $navbar-dark-hover-color;
        cursor: pointer;
        text-decoration: underline;
        color: white;
    }
}