// 
// Sections
// 

.resume-section, section.resume-section:target ~ #nav-home {
    display: none;
    // opacity: 0;
    // transition: opacity 0.15s linear;
}

#nav-home, section.resume-section:target {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;

    .resume-section-content {
        width: 100%;
    }
}

@include media-breakpoint-up(md) {
    section.resume-section:target {
        min-height: 100vh;
    }
}

@include media-breakpoint-up(lg) {
    section.resume-section:target {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

// Aria's changes

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

section {
    animation-name: fade-in;
    animation-duration: 1s;
    img, iframe {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

ul.legend-trans-access li,
ul.legend-system-strain li {
    display: grid;
    grid-template-columns: 30px auto;
    :nth-child(2) {
        padding-left: 3px;
        padding-right: 3px;
    }
}

ul.legend-trans-access li {
    .vaccination-sites {
        border: none; 
        text-align: center;
        color: black;
    }
    .thirty-min-trans {
        background-color: #9bace2;
    }
    .zero-ten {
        background-color: white;
    }
    .ten-twenty {
        background-color: #f9e3e2;
    }
    .twenty-thirty {
        background-color: #f4c7c6;
    }
    .thirty-forty {
        background-color: #f0aca8;
    }
    .forty-plus {
        background-color: #ec908a;
    }
}

ul.without-vechicle li {
    :nth-child(1) {
        border-style: solid;
        border-width: 1px;
        border-color: #555;
    }
}

ul.legend-system-strain li {
    :nth-child(1) {
        border-width: 1px;
        border-style: solid;
        border-color: #555;
    }
    .zero {
        background-color: white;
    }
    .one-onehundred {
        background-color: #f7b6b5;
    }
    .onehundred-fivehundred {
        background-color: #f0736a;
    }
    .fivehundred-thousand {
        background-color: #ee5747;
    }
    .thousand-plus {
        background-color: #eb3c10;
    }
}

.select-project {
    padding-bottom: 15px;
    img {
        max-width: 100%;
    }
}